<!doctype html>
<html lang="zh-CN">

  <head>
    <meta charset="utf-8">
    <title>我的网页 - HTMLPAGE.CN</title>
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <link rel="stylesheet" href="/static/css/style.css">
  </head>

  <body>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <meta name="description" content="HTMLPAGE" />
      <meta name="author" content="Lapus" />
      <title>免费单页面模板 - 企业网站</title>
      <link rel="shortcut icon" href="/static/img/favicon.png" />
      <link rel="stylesheet" href="/static/css/plugins.css" />
      <link rel="stylesheet" href="/static/css/style.css" />
      <div class="content-wrapper">
        <header class="wrapper bg-soft-primary">
          <nav class="navbar navbar-expand-lg center-nav transparent position-absolute navbar-dark">
            <div class="container flex-lg-row flex-nowrap align-items-center">
              <div class="navbar-brand w-100"><a href="#"><img src="/static/img/logo-small-svg.svg" alt="" class="logo-dark" /><img src="/static/img/logo-small-white.svg" alt="" class="logo-light" /></a></div>
              <div class="navbar-collapse offcanvas offcanvas-nav offcanvas-start">
                <div class="offcanvas-header d-lg-none">
                  <h3 class="text-white fs-30 mb-0">HTMLPAGE.CN</h3><button type="button" data-bs-dismiss="offcanvas" aria-label="Close" class="btn-close btn-close-white"></button>
                </div>
                <div class="offcanvas-body ms-lg-auto d-flex flex-column h-100">
                  <ul class="navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link">首页</a></li>
                    <li class="nav-item dropdown"></li>
                    <li class="nav-item dropdown"><a href="#" data-bs-toggle="dropdown" class="nav-link">Github</a></li>
                  </ul><!-- /.navbar-nav -->
                  <div class="offcanvas-footer d-lg-none">
                    <div><a href="zhuangweihao@gmail.com" class="link-inverse">help@lapus.cn</a><br /> 00 (123) 456 78 90 <br />
                      <nav class="nav social social-white mt-4"><a href="#"><i class="uil uil-twitter"></i></a><a href="#"><i class="uil uil-facebook-f"></i></a><a href="#"><i class="uil uil-dribbble"></i></a><a href="#"><i class="uil uil-instagram"></i></a><a href="#"><i class="uil uil-youtube"></i></a></nav><!-- /.social -->
                    </div>
                  </div><!-- /.offcanvas-footer -->
                </div><!-- /.offcanvas-body -->
              </div><!-- /.navbar-collapse -->
              <div class="navbar-other w-100 d-flex ms-auto">
                <ul class="navbar-nav flex-row align-items-center ms-auto">
                  <li class="nav-item dropdown language-select text-uppercase">
                    <ul class="dropdown-menu">
                      <li class="nav-item"><a href="#" class="dropdown-item">英文</a></li>
                      <li class="nav-item"></li>
                      <li class="nav-item"><a href="#" class="dropdown-item">日语</a></li>
                    </ul>
                  </li>
                  <li class="nav-item d-none d-md-block"></li>
                  <li class="nav-item d-lg-none"><button class="hamburger offcanvas-nav-btn"><span></span></button></li>
                </ul><!-- /.navbar-nav -->
              </div><!-- /.navbar-other -->
            </div><!-- /.container -->
          </nav><!-- /.navbar -->
        </header><!-- /header -->
        <section data-image-src="/static/img/bg6.jpg" class="wrapper image-wrapper bg-image bg-overlay text-white">
          <div class="container pt-17 pb-12 pt-md-19 pb-md-16 text-center">
            <div class="row">
              <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
                <div class="post-header">
                  <div class="post-category text-line text-white"></div><!-- /.post-category -->
                  <h1 class="display-1 mb-3 text-white">中文语音合成系统</h1>
                  <p class="lead px-md-12 px-lg-12 px-xl-15 px-xxl-18">基于FastSpeech2模型</p>
                </div><!-- /.post-header -->
              </div><!-- /column -->
            </div><!-- /.row -->
          </div><!-- /.container -->
        </section><!-- /section -->
        <!-- /section -->
        <section class="wrapper bg-light">
          <!-- /.container -->
        </section><!-- /section -->
      </div><!-- /.content-wrapper -->
      <section class="wrapper bg-light wrapper-border">
        <div class="container pt-14 pt-md-16 pb-mb-13 pb-md-15" style="height:500px">
          <div class="row" id="i1clz4">
            <div id="ilodx5" class="cell c8112" style="height:350px;width:1200px;display: table-cell;text-align: center">
              <form method="get" action="/firstapp/tts/">
                <label for="text-input">输入文本：</label><br><br>
                <textarea type="text" id="text-input" name="input" style="width: 1000px;height: 150px">{{ text }}</textarea><br><br>
                <button type="submit">提交</button>
              </form>
            </div>
            <div id="ics1ua" class="cell c8121" style="height:200px;width:1200px;display: table-cell;text-align: center">
              <audio controls>
                <source src="/static/tts/audio-file.mp3" type="audio/mpeg">
                Your browser does not support the audio element.
              </audio>
            </div>
          </div><!-- /.row -->
        </div><!-- /.container -->
        <div class="container-fluid px-md-6">
          <div data-margin="30" data-nav="true" data-dots="true" data-items-xxl="3" data-items-md="2" data-items-xs="1" class="swiper-container blog grid-view mb-17 mb-md-19">
              <div class="swiper"></div>
          </div><!-- /.swiper-container -->
        </div><!-- /.container-fluid -->
      </section>
      <footer class="bg-dark text-inverse">
        <div class="container py-13 py-md-15">
          <div class="row gy-6 gy-lg-0">
            <div class="col-md-4 col-lg-3">
              <div class="widget"><img src="/static/img/logo-small-white.svg" alt="" class="mb-4" />
                <p class="mb-4">© 2023. <br class="d-none d-lg-block" />All rights reserved.</p>
                <nav class="nav social social-white"><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a><a href="#"></a></nav><!-- /.social -->
              </div><!-- /.widget -->
            </div><!-- /column -->
            <!-- /column -->
            <div class="col-md-4 col-lg-3">
              <div class="widget">
                <h4 class="widget-title text-white mb-3">Reference</h4>
                <ul class="list-unstyled mb-0">
                  <li><a href="#">Fastspeech</a></li>
                  <li><a href="#">Fastspeech2</a></li>
                  <li><a href="#">tacotron2</a></li>
                  <li><a href="#">tacotron2</a></li>
                  <li></li>
                  <li></li>
                </ul>
              </div><!-- /.widget -->
            </div><!-- /column -->
            <!-- /column -->
          </div>
          <!--/.row -->
        </div><!-- /.container -->
      </footer>
      <div class="progress-wrap"><svg width="100%" height="100%" viewBox="-1 -1 102 102" class="progress-circle svg-content">
          <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg></div>
{#      <script src="/static/js/plugins.js"></script>#}
{#      <script src="/static/js/theme.js"></script>#}
      <script src="/static/js/plugins.js"></script>
      <script src="/static/js/theme.js"></script>
  </body>
  <html>